---
layout: default
title: News
---
{% include lang.html %}

{% assign pinned = site.posts | where: 'pin', 'true' %}
{% assign default = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}

<!-- Get default posts -->

{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}



<article class="post featured">
  	<header class="major">
    	<h2><a href="#">News from the battlefield</a></h2>
  	</header>
</article>
<!-- Post -->
<section class="posts">
	{% for post in posts %}
		<article>
			<header>
				<span class="date">{{ post.date | date_to_string }}</span>
				<h2><a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a></h2>
			</header>
			<a href="{{ post.url | prepend:site.baseurl }}" class="image fit"><img src="/images/blank.png" alt="" data-echo="{{ post.image | prepend:site.baseurl }}" /></a>
			<p>{{ post.excerpt }}</p>
			<ul class="actions">
				<li><a href="{{ post.url | prepend:site.baseurl }}" class="button">Keep Reading...</a></li>
			</ul>
		</article>
	{% endfor %}
</section>

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}
