{% assign sorted_events = site.data.events | date: "%Y-%m-%d %H:%M" | sort: 'date' |  reverse %}
<section class="post featured"><h2>EVENTS</h2>
    {% for event in sorted_events %}
    {% assign event_timestamp = event.date | date: "%Y-%m-%d %H:%M" | date: "%s" %}
    {% assign current_timestamp = "now" | date: "%s" %}
    {% assign team_1 = event.teams[0] | strip %}
    {% assign team_2 = event.teams[1] | strip %}
    <div class="container mt-4">
        <div class="event-block">
          <div class="text-center">
            <strong>{{ event.date | date: "%Y-%m-%d %H:%M" | date: "%a %d %B" | date_to_string: "ordinal" }} - {{ event.category }}</strong>
          </div>
        </div>
        <div class="event-block">
            <div class="event-grid">
                <div class="slide">
                    <div class="margin-wrapper">
                        <div class="team-name left">{{ site.data.teams[team_1].name }}</div>
                        {% if event.teams[0] and site.data.teams[team_1] %}
                        <div class="image-slide-anchor right">
                            <img class="team-icon" src="{{ site.data.teams[team_1].icon | default: '/images/teams/default.png' }}" alt="{{ event.teams[0] }}">
                            <div class="team-tag">{{ event.teams[0] }}</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="slide">
                    <div class="margin-wrapper">
                        <div class="event-score">
                            {% if event_timestamp > current_timestamp %}
                                {{ event.date | date: "%Y-%m-%d %H:%M" | date: "%H:%M" }}
                            {% else %}
                                {{ event.scores[0] }} - {{ event.scores[1] }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="margin-wrapper">
                        {% if event.teams[1] and site.data.teams[team_2] %}
                        <div class="image-slide-anchor left">
                            <img class="team-icon" src="{{ site.data.teams[team_2].icon | default: '/images/teams/default.png' }}" alt="{{ event.teams[1] }}">
                            <div class="team-tag">{{ event.teams[1] }}</div>
                        </div>
                        {% endif %}
                        <div class="team-name right">{{ site.data.teams[team_2].name }}</div>
                    </div>
                </div>
            </div>
        </div>
      </div>


    {% endfor %}

    </section>

