{% assign sorted_events = site.data.events | sort: 'date' %}

{% for event in sorted_events %}
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-c2ba90be7fa8499ee9a2">
    <div class="sqs-block-content"><hr></div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}" id="block-c9a2edc7410956ed32f1"><div class="sqs-block-content">
        <div class="sqs-html-content">
            <p style="text-align:center;white-space:pre-wrap;" class="sqsrte-small"><strong>{{ event.category }}</strong><br>
                {% if event.date | date: "%Y-%m-%d %H:%M" | date: "%s" < "now" %}
                    {{ event.date }} - {{ event.scores[0] }} - {{ event.scores[1] }}
                {% else %}
                    {{ event.date }}
                {% endif %}
            </p>
        </div>
    </div>
</div>

<div class="sqs-block gallery-block sqs-block-gallery" data-block-json="{&quot;methodOption&quot;:&quot;transient&quot;,&quot;existingGallery&quot;:null,&quot;newWindow&quot;:false,&quot;aspect-ratio&quot;:&quot;square&quot;,&quot;aspectRatio&quot;:null,&quot;auto-crop&quot;:true,&quot;blockAnimation&quot;:&quot;none&quot;,&quot;collectionId&quot;:&quot;64bb1c95011e0221bce93583&quot;,&quot;design&quot;:&quot;grid&quot;,&quot;lightbox&quot;:false,&quot;padding&quot;:0,&quot;show-meta&quot;:true,&quot;show-meta-basic&quot;:true,&quot;show-meta-only-title&quot;:true,&quot;show-meta-only-description&quot;:false,&quot;square-thumbs&quot;:false,&quot;thumbnails-per-row&quot;:3,&quot;vSize&quot;:null,&quot;transientGalleryId&quot;:&quot;64bb1c95011e0221bce93583&quot;}" data-block-type="8" id="block-69a2b15f14025b925ade">
    <div class="sqs-block-content">
        <div class="
        sqs-gallery-container
        sqs-gallery-block-grid
        sqs-gallery-aspect-ratio-square
        sqs-gallery-thumbnails-per-row-3
        sqs-gallery-block-show-meta
        sqs-gallery-block-meta-only-title
        block-animation-none
        clear" id="yui_3_17_2_1_1707324151816_689">
            <div class="sqs-gallery sqs-gallery-design-grid" id="yui_3_17_2_1_1707324151816_706">
                <div class="slide sqs-gallery-design-grid-slide sqs-active-slide" data-type="image" data-animation-role="image" id="yui_3_17_2_1_1707324151816_738">
                    <div class="margin-wrapper">
                        {% if event.team[0] and site.data.teams[event.team[0]] %}
                            <img src="{{ site.data.teams[event.team[0]].icon }}">
                        {% endif %}
                        <div class="image-slide-title">{{ event.team[0] }}</div>
                    </div>
                </div>

                <div class="slide sqs-gallery-design-grid-slide" data-type="image" data-animation-role="image" id="yui_3_17_2_1_1707324151816_739">
                    <div class="margin-wrapper">

                        <a role="presentation" class="
                            image-slide-anchor

                            content-fit
                        ">

                        <noscript><img src="https://images.squarespace-cdn.com/content/v1/619758344d16e93725c39d0a/1656954069871-EGAHV64LRR57ARMLW9YB/Placeholder+grey.jpg" alt="15.00" /></noscript><img class="thumb-image" elementtiming="system-gallery-block-grid" data-src="https://images.squarespace-cdn.com/content/v1/619758344d16e93725c39d0a/1656954069871-EGAHV64LRR57ARMLW9YB/Placeholder+grey.jpg" data-image="https://images.squarespace-cdn.com/content/v1/619758344d16e93725c39d0a/1656954069871-EGAHV64LRR57ARMLW9YB/Placeholder+grey.jpg" data-image-dimensions="500x750" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="64bb1c95011e0221bce93584" data-type="image" data-parent-ratio="0.7" style="opacity: 0; left: 250px; top: 375px; width: 36px; height: 55px; position: relative;" alt="15.00">
                        </a>
                        <div class="image-slide-title">
                            {% if event.date | date: "%Y-%m-%d %H:%M" | date: "%s" < "now" %}
                                {{ event.date }}
                            {% else %}
                                {{ event.scores[0] }} - {{ event.scores[1] }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="slide sqs-gallery-design-grid-slide" data-type="image" data-animation-role="image" id="yui_3_17_2_1_1707324151816_740">
                    <div class="margin-wrapper">

                        {% if event.team[1] and site.data.teams[event.team[1]] %}
                            <img src="{{ site.data.teams[event.team[1]].icon }}">
                        {% endif %}
                        <div class="image-slide-title">{{ event.team[1] }}</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
