{% assign current_date = "now" | date: "%s" | plus: 0 %}
{% assign previous_event = nil %}
{% assign next_event = nil %}
{% assign previous_event_date = nil %}
{% assign next_event_date = nil %}
{% assign events = "" | split: "" %}

{% for event in site.data.events %}
    {% assign event_date = event.date | date: "%s" | plus: 0 %}
    {% if event_date < current_date %}
        {% if previous_event_date == nil or event_date > previous_event_date %}
            {% assign previous_event_date = event_date %}
            {% assign previous_event = event %}
        {% endif %}
    {% elsif event_date > current_date %}
        {% if next_event_date == nil or event_date < next_event_date %}
            {% assign next_event_date = event_date %}
            {% assign next_event = event %}
        {% endif %}
    {% endif %}
{% endfor %}

{% if next_event %}
    {% assign events = events | push: next_event %}
{% endif %}

{% if previous_event %}
    {% assign events = events | push: previous_event %}
{% endif %}

{% assign sorted_events = site.data.events | date: "%Y-%m-%d %H:%M" | sort: 'date' |  reverse %}

{% if events.size > 0 %}
<section class="event featured">
    <h2>Featured Events</h2>
    {% for event in events %}
        {% assign event_timestamp = event.date | date: "%Y-%m-%d %H:%M" | date: "%s" %}
        {% assign current_timestamp = "now" | date: "%s" %}
        {% assign team_1 = event.teams[0] | strip %}
        {% assign team_2 = event.teams[1] | strip %}
        <div class="event-container" data-category="{{ event.category }}">
            <div class="event-block">
                <div class="text-center">
                    <strong>{{ event.date | date: "%Y-%m-%d %H:%M" | date: "%a %d %B" | date_to_string: "ordinal" }} - {{ event.category }}</strong><br />
                </div>
                <div class="text-center small">
                    {{ event.map | default "" }}
                </div>
            </div>
            <div class="event-block">
                <div class="event-grid">
                    <div class="slide">
                        <div class="margin-wrapper">
                            <div class="team-name left">{{ site.data.teams[team_1].name }}</div>
                            {% if event.teams[0] and site.data.teams[team_1] %}
                            <div class="image-slide-anchor right">
                                <img class="team-icon" src="{{ site.data.teams[team_1].icon | default: '/images/teams/default.png' }}" alt="{{ event.teams[0] }}">
                                <div class="team-tag">{{ event.teams[0] }}</div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="slide">
                        <div class="margin-wrapper">
                            <div class="event-score">
                                {% if event_timestamp > current_timestamp %}
                                    {{ event.date | date: "%Y-%m-%d %H:%M" | date: "%H:%M" }}
                                {% elsif event.scores == null %}
                                    TBC
                                {% else %}
                                    {{ event.scores[0] }} - {{ event.scores[1] }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="margin-wrapper">
                            {% if event.teams[1] and site.data.teams[team_2] %}
                            <div class="image-slide-anchor left">
                                <img class="team-icon" src="{{ site.data.teams[team_2].icon | default: '/images/teams/default.png' }}" alt="{{ event.teams[1] }}">
                                <div class="team-tag">{{ event.teams[1] }}</div>
                            </div>
                            {% endif %}
                            <div class="team-name right">{{ site.data.teams[team_2].name }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
{% endif %}
