
<!-- Then we build the nav bar. -->
<ul class="links">
    <!-- Home link -->
    <li {% if page.url == "/" %} class="active"{% endif %}>
        <a href="{{ site.baseurl }}/">Home</a>
    </li>
    <!-- Navigation from tabs collection -->
    {% for entry in site.tabs %}
        {% if entry.url == page.url %}
            {% assign current = ' class="active"' %}
        {% else %}
            {% assign current = null %}
        {% endif %}
        {% assign parent_tab = site.tabs | where: 'title', entry.parent | first %}
        {% assign sublinks = site.tabs | where: 'parent', entry.title %}
        {% if sublinks.size > 0 %}
            <li{{ current }}>
                <a href="{{ site.baseurl }}{{ entry.url }}" class="trigger-drop">{{ entry.title }} ▼</a>
                <ul class="drop" style="list-style: none;">
                    {% for sublink in sublinks %}
                        <li class="active"><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
        {% endif %}
    {% endfor %}
    <li{% if page.url == "/news/" %} class="active"{% endif %}>
        <a href="{{ site.baseurl }}/news/">News</a>
    </li>
</ul>

<ul class="icons">
  <li><a href="/search/" class="icon fa-search" title="{{ site.data.locales[lang].search.hint | capitalize }}..."><span class="label">{{ site.data.locales[lang].search.hint | capitalize }}...</span></a></li>
  {% if site.socials.facebook %}
  <li><a href="https://facebook.com/{{site.socials.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
  {% endif %}
  {% if site.socials.youtube %}
  <li><a href="https://www.youtube.com/@{{site.socials.youtube}}" class="icon fa-youtube" aria-hidden="true" rel="nofollow"><span class="label">YouTube</span></a></li>
  {% endif %}
  {% if site.socials.instagram %}
  <li><a href="https://instagram.com/{{site.socials.instagram}}" class="icon fa-instagram" aria-hidden="true" rel="nofollow"><span class="label">Instagram</span></a></li>
  {% endif %}
  {% if site.socials.discord %}
  <li><a href="{{ site.socials.discord }}" aria-hidden="true" rel="nofollow"><i class="fa-brands fa-discord"></i></a></li>
  {% endif %}
  {% if site.socials.telegram %}
  <li><a href="https://t.me/{{site.socials.telegram}}" class="fa fa-telegram fa-lg" aria-hidden="true" rel="nofollow"><span class="label">Telegram</span></a></li>
  {% endif %}
</ul>
