---
layout: null
---
<!DOCTYPE HTML>

<html>

<head>
	{% include head.html %}
	{% seo %}
</head>

<body class="is-loading">

	<!-- Wrapper -->
	<div id="wrapper" class="fade-in">
		<!-- Intro -->
		<div id="intro">
			<a href="#" class="image main" style="width:400px;"><img src="{{ " /images/logo.png" | prepend:site.baseurl
					}}" alt="" /></a>
			<h2>{{site.motto}}</h2>
			<ul class="actions">
				<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
			</ul>
		</div>

		<!-- Header -->
		<header id="header">
			<a href="{{ " /" | prepend:site.baseurl }}" class="logo">{{site.title}}</a>
		</header>

		<!-- Nav -->
		<nav id="nav">

			{% include nav.html %}

		</nav>

		<!-- Main -->
		<div id="main">
			<!-- Featured Post -->
			<article class="post featured">
				<header class="major">
					<a href="{{ site.socials.discord }}" class="image main"><img src="{{ " /images/signup.jpg" |
							prepend:site.baseurl }}" alt="recruiting now" /></a>
					<p>We are currently recruiting new players to join our clan, competitive and casual players welcome
						from steam and gamepass</p>
				</header>
			</article>
			{% include events.html %}
			<!-- Posts -->
			<section class="posts">
				{% assign posts = site.posts | where: "sticky", true | sort: "date" %}
				{% for post in posts limit:2 %}
				<article>
					<header>
						<span class="date">Post in Evidenza &nbsp; <i class="fa fa-thumb-tack"
								aria-hidden="true"></i></span>
						<h2><a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a></h2>
					</header>
					<a href="{{ post.url | prepend:site.baseurl }}" class="image fit"><img
							src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII="
							alt="" data-echo="{{ post.image | prepend:site.baseurl }}" /></a>
					<p>{{ post.excerpt }}</p>
					<ul class="actions">
						<li><a href="{{ post.url | prepend:site.baseurl }}" class="button">Keep Reading...</a></li>
					</ul>
				</article>
				{% endfor %}
				{% assign normalPost = site.posts | where: "sticky", false %}
				{% for post in normalPost limit:6 %}
				<article>
					<header>
						<span class="date">{{ post.date | date_to_string }}</span>
						<h2><a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a></h2>
					</header>
					<a href="{{ post.url | prepend:site.baseurl }}" class="image fit"><img img
							src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII="
							alt="" data-echo="{{ post.image | prepend:site.baseurl }}" /></a>
					<p>{{ post.excerpt }}</p>
					<ul class="actions">
						<li><a href="{{ post.url | prepend:site.baseurl }}" class="button">Keep Reading...</a></li>
					</ul>
				</article>
				{% endfor %}
			</section>
		</div>
		<!-- Footer -->
		{% include foot.html %}
	</div>
	<!-- Scripts -->
	{% include scripts-main.html %}
	{% include tracking.html %}

	<!-- Lazy Load -->
	{% include lazyload.html %}

</body>

</html>
