---
layout: default
---
<section class="post">
  <header class="major">
    <span class="date">{{page.date | date_to_string}}</span>
    <h1>{{page.title}}</h1>
    <p>{{page.excerpt}}</p>
  </header>
  <div class="image main"><img src="{{page.image}}" alt=""></div>
  <p>{{content}}</p>

  <sup>Tags: [
    {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/search/tag/{{ tag_name | slugify }}/" rel="nofollow">
      <nobr>{{ tag_name | slugify }}</nobr>&nbsp;
    </a>
    {% endfor %}
    ]</sup>

  {% assign author = site.data.authors[page.author] %}

  {% if author %}
  <section class="authorbox">
    {% include author.html %}
  </section>
  {% endif %}

  </section>
</section>
